* {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  background: linear-gradient(
      to top,
      rgba(17, 21, 27, 0.83) 82%,
      rgba(6, 13, 10, 0.97) 88%
    ),
    url(1.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.icon {
  left: 30px;
  width: 390px;
  height: 70px;
  float: center;
  margin: auto;
}

.logo {
  color: rgb(255, 136, 0);
  font-size: 35px;
  font-family: monospace;
  padding-left: 20px;
  float: center;
  padding-top: 1ch;
}
.navigation_bar {
   background-color: black;
  float: center;
  top:0;
  flex: fixed;
  width: 100%;
  height: 120px;
}

.menu {
  width: 755px;
  height: 70px;
  padding: 0;
  margin-left:577px ;
}

ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li {
  list-style: none;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 13px;
}

ul li a {
  text-decoration: none;

  color: rgb(246, 250, 253);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
ul li a:hover {
  color: rgb(255, 136, 0);
}
